# DATA FILES ARE TOO BIG. IPYTHON NOTEBOOK DIFFS ARE MESSY.
data*
notebooks/*csv
notebooks/plots/*pdf
notebooks/nb-data*
notebooks/.*
notebooks/plots/*demo

# OTHER MESSY THINGS
src/LOGS*
src/__*
doc/refs/*pdf
*xcf
*__pycache__*

# SECRET STUFF THAT I DON'T WANT ANYONE TO SEE YET
paper*
results*
src/analysis_scripts*
